body{
    background: #ddd;
}

.judul{
    text-align: center;
}

.container{
    width: 400px;
    height: 300px;
    background: #fff;
    margin: 0 auto;
    margin-top: 100px;
    padding: 30px;
    border-radius: 15px;
}

h3{
    line-height: 2px;
}

.form-control{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 30px;
    background: #4CAF50;
    color: #fff;
}

.register{
    text-align: center;
    margin-top: 8px;
}

.register a{
    text-decoration: none;
    color: #212172;
}